@charset "UTF-8";

/* CSS Document */
/* Eric Meyer's CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}

body {
    line-height:1;
    background-color:#DFDFDF;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:0;
    background-position:fixed;
    min-width:675px;
    max-width:100%
}

ol,ul {
    list-style:none
}

blockquote,q {
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

/* End of Eric Meyer's CSS Reset */
html {
    height:100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block
}

body {
    font:12px/18px Roboto,Arial,sans-serif;
    width:100%;
    height:100%;
    color:#000
}

.wrapper {
    width:100%;
    margin:0 auto;
    min-height:100%;
    height:auto!important;
    height:100%
}

/*Header */
.content {
    margin:0;
    padding:0;
    background:#656565;
    width:100%;
    height:42px;
    text-align:center
}

.headerlinkscontainer {
    text-align:center;
    padding:10px 0 0
}

.headerlinkscontainer a {
    color:#fff;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:15px;
    letter-spacing:-.5px
}

#hlinkpad {
    padding:0 50px 0 0
}

.headerlinkscontainer img {
    padding:0 50px 0 0
}

.calltoaction {
    background-image:url(../img/background.png);
    background-color:#3DB45E;
    background-width:100%;
	min-width: 
    background-position:center;
    height:250px;
    background-size:cover;
    margin:0 0 30px;
    box-shadow:0 10px 20px #ACACAC
}

.installscript {
    display:none
}

.alpha2 {
    opacity:.65;
    filter:alpha(opacity=40)
/* For IE8 and earlier */
}

.alpha2:hover {
    opacity:1;
    filter:alpha(opacity=100)
/* For IE8 and earlier */
}

.ctac {
    padding:0;
    height:150px;
    align-content:center;
    text-align:center
}

.ctactop {
    padding:0 0 20px;
    align-content:center;
    text-align:center
}

#logo {
    width:50%
}

.ctac p {
    text-position:center
}

.summary {
    width:100%;
    max-width:800px;
    height:400px;
    background-position:right;
    background-color:#000;
    min-width:675px;
    box-shadow:5px 5px 20px #ACACAC;
    margin-left:auto;
    margin-right:auto
}

.sumspace {
    margin:35px 0;
    margin-left:auto;
    margin-right:auto
}

.summaryo {
    margin-top:35px;
    margin-bottom:30px
}

#outside {
    margin:0 0 10px;
    display:box
}

#inside {
    width:50%
}

h1 {
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:40px;
    letter-spacing:-2px;
    color:#fff
}

#summarypadding {
    padding:5px 0 2px 30px;
    color:#fff
}

#summarytextpad {
    padding:7px 0 2px 33px;
    color:#fff
}

#summarypaddingr {
    padding:5px 30px 2px 0;
    color:#000;
    margin:0
}

#summarytextpadr {
    padding:7px 33px 2px 0;
    color:#000
}

#rainier {
    background-image:url(../img/rainierbg.jpg)
}

#gimp {
    background-image:url(../img/csmonitor.jpg);
    text-align:right;
    background-position:left;
    background-repeat:no-repeat;
    background-color:#fff
}

#games {
    background-image:url(../img/gamebg.jpg)
}

#win {
    background-image:url(../img/sky.jpg);
    text-align:right;
    background-position:left
}

.social {
    width:100%;
    max-width:1000px;
    height:30px;
    background-position:right;
    min-width:600px;
    margin:20px 0 0;
    margin-left:auto;
    margin-right:auto;
    text-align:center
}

.social p {
    color:#4c4c4c;
    margin:10px 0 0
}

.outsideclass {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.downloadbutton {
    margin:125px 10px 0 0
}

#scriptbox {
    background:#fff;
    height:730px
}

.instructions {
    font-size:12px;
    border-radius:10px;
    margin:20px 60px 60px;
    padding:20px;
    text-decoration:none;
    line-height:17px;
    background-repeat:no-repeat;
    background-position:right bottom
}

.instructions h3 {
    font-size:20px;
    line-height:40px
}

.instructions h2 {
    font-size:20px;
    line-height:40px
}

.instructions h4 {
    font-size:15px;
    line-height:40px
}

code {
    font-family:Times,"Times New Roman",serif;
    background:rgba(0,0,0,0.2);
    color:#000;
    padding:0 10px;
    border-radius:10px
}