@import url(http://fonts.googleapis.com/css?family=Roboto);
@media screen{
html {
    font-family: 'Roboto', 'Noto Sans', 'Open Sans', 'Ubuntu', sans-serif;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

nav {
    background-color: rgba(238,238,238,0.7);
    top: 0;
    right: 0;
    left: 0;
    height: 63px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    width: 100%;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: 90%; 
    text-align:center; 
    display:table;
    width:100%;
}
nav h1 {display:table-cell; vertical-align:middle;}
nav li {list-style-type: none;}
}
@media only screen and (min-device-width : 802px) and (max-device-width : 1024px) {

}
@media only screen and (max-width:801px), only screen and (max-device-width:801px){

}
@media print {
    
}
