@charset "UTF-8";

/* CSS Document */
/* Eric Meyer's CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}

html { 
  background: url(../img/bgblurdark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
    line-height:1;
    background-repeat:no-repeat;
    margin:0;
    min-width:600px;
    max-width:100%
}

ol,ul {
    list-style:none
}

blockquote,q {
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

/* End of Eric Meyer's CSS Reset */
html {
    height:100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block
}

body {
    font:12px/18px 'Roboto',Arial,sans-serif;
    width:100%;
    height:100%;
    color:#000
}

.wrapper {
    width:100%;
    margin:0 auto;
    min-height:100%;
    height:auto!important;
    height:100%
}

/*Header */
.content {
    margin:0;
    padding:0;
    background: rgba(84,84,84,0.6);
    width:100%;
    height:42px;
    text-align:center;
	position: fixed;
}

.headerlinkscontainer {
	text-align:center;
	padding: 10px 0 0 0;
}

.headerlinkscontainer a {
    color:#fff;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:15px;
}

#hlinkpad {
    padding:0 50px 0 0
}

.headerlinkscontainer img {
    padding:0 50px 0 0
}

.calltoaction {
    background-color: rgba(1,1,1,0.56);
    background-width:100%;
    background-position:center;
    height:140px;
    background-size:cover;
    margin:0 0 30px;
}

.ctac {
	padding: 0px 0 0 0;
    height:150px;
	align-content:center;
	text-align:center
}
.ctactop {
	padding: 68px 0 0 0;
    height:100px;
	align-content:center;
	text-align:center
}

#logo {
    width:50%
}

.ctac p {
    text-position:center
}

.summary {
    width:100%;
    max-width:1000px;
    height:200px;
    background-position:right;
    background-color:#000;
    min-width:600px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.60);
	margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
}

.sumspace {
    margin:35px 0;
	margin-left: auto;
    margin-right: auto;
}

.summaryo {
    margin-top:35px;
    margin-bottom:30px
}

#outside {
    margin:0 0 10px;
	display:box;

}

#inside {
    width:50%
}

h1 {
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:40px;
    letter-spacing:-2px;
    color:#fff
}

#summarypadding {
    padding:5px 0 2px 30px;
    color:#fff
}

#summarytextpad {
    padding:7px 0 2px 33px;
    color:#fff
}

#summarypaddingr {
    padding:5px 30px 2px 0;
    color:#fff;
    margin:0
}

#summarytextpadr {
    padding:7px 33px 2px 0;
    color:#fff
}

#rainier {
    background-image:url(../img/rainierbg.jpg)
}

#gimp {
    background-image:url(../img/creative.jpg);
    text-align:right;
    background-position:left
}

#games {
    background-image:url(../img/gamebg.jpg)
}

#win {
    background-image:url(../img/sky.jpg);
    text-align:right;
    background-position:left
}

.social {
    width:100%;
    max-width:1000px;
    height:30px;
    background-position:right;
    min-width:600px;
    margin:20px 0 0;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.social p {
    color:#fff;
    margin:10px 0 0
}
.outsideclass {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
}

#description {
	font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:20px;
    letter-spacing:-0.5px;
    color:#fff
}