#mainmenu,
#mainmenu ul,
#mainmenu ul li,
#mainmenu ul li a {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
}
#mainmenu {
border-bottom: 3px solid #656565;
padding: 0 5px;
width: auto;
font-family: Helvetica, Arial, sans-serif;
background: #656565;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}
#mainmenu:after,
#mainmenu ul:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
#mainmenu ul li {
display: inline-block;
}
#mainmenu.align-right ul li {
float: right;
}
#mainmenu.align-center ul {
text-align: center;
}
#mainmenu ul li a {
font-size: 14px;
padding: 15px;
text-decoration: none;
color: #ffffff;
}
#mainmenu ul li:hover a,
#mainmenu ul li a:hover,
#mainmenu ul li.active a {
color: #000000;
}
@media all and (max-width: 640px) {
#mainmenu {
padding: 0;
border-radius: 0;
border: 0;
}
#mainmenu ul li,
#mainmenu.align-center,
#mainmenu.align-right {
display: block;
}
}

body {
background-repeat:no-repeat;
background-size:cover;
opacity: 0.7;
}

b {
color: #ffffff;
}

footer{
position: fixed;
text-align: center;
font-size: 16px;
font-family: verdana;
width: 99%;
height: 45px;
background-color: #656565;
bottom: 0;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

b {
position: relative;
top: 25px;
}

a.twitter {
position: relative;
top: 8px;
left: 840px;
}

a.google {
position: relative;
top: 8px;
left: 840px;
}

a.logo {
position: relative;
top: 8px;
}




